<% if flash[:error].present? %>
<div><%= flash[:error] %></div>
<% end %>

<%if !logged_in? %>

    <div class="container">

      <div class="column one-half left">
        <h2><i class="em em-wave"></h2></i><h1 class="hero-text">Hi, welcome to Guru Guides</h1>
      </div>

      <div class="column one-half right">
        <div class="hero-signup">
          <h2>Sign up here</h2>
          <%= form_tag '/users', method: 'post' do %>

            <input type="email" name="email" value="" placeholder="Email" class= "input-signup">
            <input type="password" name="password" value="" placeholder="Create a password" class= "input-signup">
            <input type="text" name="full_name" value="" placeholder="Full Name" class= "input-signup">
            <input type="text" name="address_1" value="" placeholder="Address Line 1" class= "input-signup">
            <input type="text" name="address_2" value="" placeholder="Address Line 2" class= "input-signup">
            <input type="text" name="city" value="" placeholder="City" class= "input-signup">

            <select id="states" name="state_code" class="input-signup"></select>

            <select id="countries" name="country_code" class="input-signup">
              <% @countries.sort_by(&:last).each do |code, name| %>
              <option value="<%= code %>" <%= "selected" if code == :AU %>><%= name %></option>
              <% end %>
            </select>

            <input type="text" name="zip_code" value="" placeholder="Postcode/Zip" class= "input-signup">
            <button class="btn btn-primary btn-lg round">Sign Up</button>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>

  <div class="column one-half">
  </div>

  <button class="start-guiding">Start guiding</button>
<% end %>
