<!DOCTYPE html>
<html>
  <head>
    <title>GuruGuides</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!--HEADER STARTS HERE  -->
  <div class="top-nav">
    <div class="nav-main-left">
      <a href="/"><h2>Guru Guides</h2></a>
    </div>
    <div class="nav-main-right">
      <%if logged_in? %>

          <%= form_tag '/session', method: 'delete' do %>
            <button class="nav-button">logout</button>
          <% end %>
          <a class="button nav-button account-btn" href=<%="/users/#{current_user.id}"%>>Account</a>

      <% else %>

        <%= form_tag '/session', method: 'post' do %>
          <label for="">email</label>
          <input type="text" name="email">
          <label for="">password</label>
          <input type="password" name="password">
          <button>login</button>
        <% end %>

      <% end %>
    </div>
  </div>

  <!-- HEADER ENDS HERE -->

  <%= yield %>

  </body>
</html>
